*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    background-color: rgb(238, 226, 185);

}

header {
    background-color: rgb(55, 145, 55);
    height: 150px;
    
}

footer{
    background-color: rgb(55, 145, 55);
    
}


main{
    background-color: rgb(238, 226, 185);
    display: flex;
    margin-left: 45px;
    margin-right: 50px;
}

body{
    background-image: url("cenario.jpg");
    background-color: rgb(238, 226, 185);
}

