*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.quadrado{
    width: 300px; 
    height: 300px; 
    background-color: rgb(112, 60, 172);
    display: flex;
    justify-content: center;
    align-items: center; 
  
}

.quadradinho{
    background-color: rgb(207, 151, 245);
    height: 150px;
    width: 150px;
    position: absolute; 
    top: 10px;
    left: 10px;

}

.conteudo{
    height: 3000px; 


}

.flex{
    /*Alinhar o quadrado no centro*/
    width: 100%;
    display: flex; /*define um layout flexível para um elemento, permitindo que seus filhos sejam organizados 
    em linha ou coluna de forma mais flexível do que os layouts tradicionais*/
    justify-content: center; /*é tipo a linha*/
    align-items: center; /*é tipo a coluna*/
}

.pai{
    /*Pai é a tela inteira*/
    height: 100vh; /*define a altura de um elemento como 100% da altura da janela de visualização (vh)*/
    display: flex;
    justify-content: center;
    align-items: center; 

}




  
