
/*Alinhamento*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.quadrado{
    width: 100%; /*faz com que um elemento ocupe 100% da largura do seu elemento pai (container).*/
    height: 300px; /* define a altura de um elemento para um valor fixo de 300 pixels.*/
    background-color: red;
    position: fixed; /*é usada para posicionar um elemento em relação à janela de visualização. 
    Isso significa que o elemento permanecerá na mesma posição na tela mesmo quando o usuário rolar a página.*/
    top: 0;
}

.quadradinho{
    background-color: orange;
    height: 150px;
    width: 150px;
    position: absolute; /*é usada para posicionar um elemento fora do fluxo normal do documento*/
    top: 10px;
    left: 10px;

}

.conteudo{
    height: 3000px; /*para deixar a tela em um tamanho grande*/

}


  
